[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KDENow/Plugin
X-KDE-Derived=KPluginInfo
Name=KDE Now Plugin
Name[ca]=Connector del KDE Now
Name[ca@valencia]=Connector del KDE Now
Name[es]=Complemento KDE Now
Name[et]=KDE Now plugin
Name[fr]=Module externe « KDE Now »
Name[it]=Estensione KDE Now
Name[ko]=KDE Now 플러그인
Name[nl]=Plug-in van KDE Now
Name[pl]=Wtyczka KDE Now
Name[pt]='Plugin' do KDE Now
Name[pt_BR]=Plugin do KDE Now
Name[sk]=Plugin KDE Now
Name[sv]=KDE nu insticksprogram
Name[uk]=Додаток KDE Now
Name[x-test]=xxKDE Now Pluginxx
Name[zh_TW]=KDE Now 外掛程式
