[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KDENow/Plugin
X-KDE-Derived=KPluginInfo
Name=KDE Now Plugin
Name[nl]=Plug-in van KDE Now
Name[pl]=Wtyczka KDE Now
Name[pt]='Plugin' do KDE Now
Name[uk]=Додаток KDE Now
Name[x-test]=xxKDE Now Pluginxx
