[Desktop Entry]
Name=KDE Now
Name[cs]=KDE Now
Name[it]=KDE Now
Name[nl]=KDE Now
Name[pl]=KDE Now
Name[pt]=KDE Now
Name[sk]=KDE Now
Name[sv]=KDE nu
Name[uk]=KDE Now
Name[x-test]=xxKDE Nowxx
Comment=Provides a common Plasmoid for displaying various kinds of Reservation
Comment[it]=Fornisce un normale plasmoide per visualizzare vari tipi di prenotazioni
Comment[nl]=Levert een gezamenlijke Plasmoid voor het tonen van verschillende soorten Reservetringen
Comment[pl]=Dostarcza wspólny Plazmoid do wyświetlania różnych rodzajów rezerwacji
Comment[pt]=Oferece um Plasmóide comum para mostrar vários tipos de reservas
Comment[sk]=Poskytuje bežný plazmoid pre zobrazenie rôznych druhov rezervácií
Comment[sv]=Tillhandahåller en gemensam Plasmoid för att visa olika sorters bokningar
Comment[uk]=Забезпечує роботу загального плазмоїда для показу різного типу бронювань
Comment[x-test]=xxProvides a common Plasmoid for displaying various kinds of Reservationxx

Icon=klipper
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=false

X-KDE-PluginInfo-Author=Aditya Dev Sharma
X-KDE-PluginInfo-Email=aditya.sharma15696@gmail.com
X-KDE-PluginInfo-Name=org.kde.kdenow
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
