[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-Library=kdenow_eventreservation
X-KDE-PluginInfo-Author=Aditya Dev Sharma
X-KDE-PluginInfo-Email=aditya.sharma15696@gmail.com
X-KDE-PluginInfo-Name=EventReservation
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDENow/Plugin
Name=Event Extractor
Name[ca]=Extractor d'esdeveniments
Name[it]=Estrattore di eventi
Name[nl]=Extractor van afspraken/gebeurtenissen
Name[pl]=Wydobywanie wydarzeń
Name[pt]=Extracção de Eventos
Name[sk]=Extraktor podujatí
Name[sv]=Händelseextrahering
Name[uk]=Засіб видобування даних подій
Name[x-test]=xxEvent Extractorxx
