[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-Library=kdenow_restaurantreservation
X-KDE-PluginInfo-Author=Aditya Dev Sharma
X-KDE-PluginInfo-Email=aditya.sharma15696@gmail.com
X-KDE-PluginInfo-Name=RestaurantReservation
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDENow/Plugin
Name=Restaurant Extractor
Name[ca]=Extractor de restaurants
Name[es]=Extractor de restaurantes
Name[it]=Estrattore di ristoranti
Name[nl]=Extractor van restaurants
Name[pl]=Wydobywanie restauracji
Name[pt]=Extracção de Restaurantes
Name[pt_BR]=Extrator de restaurantes
Name[sk]=Extraktor reštaurácií
Name[sv]=Restaurantextrahering
Name[uk]=Засіб видобування даних ресторанів
Name[x-test]=xxRestaurant Extractorxx
