[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-Library=kdenow_flightreservation
X-KDE-PluginInfo-Author=Aditya Dev Sharma
X-KDE-PluginInfo-Email=aditya.sharma15696@gmail.com
X-KDE-PluginInfo-Name=FlightReservation
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDENow/Plugin
Name=Flight Extractor
Name[ca]=Extractor de vols
Name[es]=Extractor de vuelos
Name[it]=Estrattore di voli
Name[nl]=Extractor van vluchten
Name[pl]=Wydobywanie lotów
Name[pt]=Extracção de Voos
Name[pt_BR]=Extrator de voos
Name[sk]=Extraktor letov
Name[sv]=Flygextrahering
Name[uk]=Засіб видобування даних польотів
Name[x-test]=xxFlight Extractorxx
